<p id="notice"><%= notice %></p>

<h1>Project5s</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project5s.each do |project5| %>
      <tr>
        <td><%= project5.name %></td>
        <td><%= project5.company %></td>
        <td><%= link_to 'Show', company_project5_path(@company, project5) %></td>
        <td><%= link_to 'Custom member', custom_member_company_project5_path(@company, project5) %></td>
        <td><%= link_to 'Edit', edit_company_project5_path(@company, project5) %></td>
        <td><%= link_to 'Destroy', company_project5_path(@company, project5), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project5', new_company_project5_path(@company) %> | 
<%= link_to 'Back to companies', companies_path(@company) %>

