<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project4.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @project4.company_id %>
</p>

<%= link_to 'Edit', edit_company_project4_path(@company, @project4) %> |
<%= link_to 'Back', company_project4s_path(@company) %>
