<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project6.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @project6.company_id %>
</p>

<%= link_to 'Edit', edit_company_project6_path(@company, @project6) %> |
<%= link_to 'Back', company_project6s_path(@company) %>
